* {
  font-family: 'Sen', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv {
  width: 700px;
}

.cv > * {
  margin-bottom: 10px;
}