* {
  font-family: 'Sen', sans-serif;
}

h1, h3, h4, p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv {
  width: 700px;
}

.cv > * {
  margin-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header > *,
.contact-info > * {
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.experience, .education {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.edu, .exp {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.institution-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-info {
  font-size: 11px;
}

.remove {
  width: fit-content;
  padding: 5px;
  color: white;
  font-weight: 700;
  border-radius: 2px;
}

.remove-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.remove {   
  margin: 5px 0px 2px 2px;
  background-color: darkred;
  border: 1px solid darkred;
}

.edu:has(.remove:hover),
.exp:has(.remove:hover)  {
  background-color: lightpink;
}

.remove:hover {
  color: black;
  border: 1px solid black;
}

.edu, .exp {
  margin-top: 5px;
  border: 1px solid transparent;
}

.edu:first-of-type, 
.exp:first-of-type {
  margin-top: 0px;
}

.remove:hover {
  background-color: lightcoral;
}

textarea {
  height: 18px;
  box-sizing: border-box;
}
