
.exp {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  
  .remove {
    width: fit-content;
    padding: 5px;
    color: white;
    font-weight: 700;
    border-radius: 2px;
  }
  
  .remove-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .remove {   
    margin: 5px 0px 2px 2px;
    background-color: darkred;
    border: 1px solid darkred;
  }
  
  .exp:has(.remove:hover)  {
    background-color: lightpink;
  }
  
  .remove:hover {
    color: black;
    border: 1px solid black;
  }
  
  .exp {
    margin-top: 5px;
    border: 1px solid transparent;
  }
  
  .exp:first-of-type {
    margin-top: 0px;
  }
  
  .remove:hover {
    background-color: lightcoral;
  }
  